body {
    margin: 0;
    background-color: aliceblue;
    width: 1920px;
    height: 1080px;
}

nav {
    width: 100vw;
    height: 5em;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
        width: 4em;
        border-radius: 50%;
        margin: auto;
    }

    & a {
        color: gray;
        margin: auto;
        font-size: 30px;
        font-weight: 700;
        transition: .2s;

        &:hover {
            text-decoration: none;
            color: #4c4c4c;
        }
    }
}

footer {
    width: 100vw;
    height: 5em;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    justify-content: center;

    & img {
        width: 4em;
        border-radius: 50%;
        margin: 5px;
    }

    & p {
        color: gray;
        font-size: 30px;
        font-weight: 700;
    }
}

main {
    width: 100vw;
    margin-top: 5em;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    width: 60%;
    border-radius: 30px;
    overflow: hidden;
}

.news-box {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    &>div {
        width: 45%;
        margin: auto;
        border-radius: 20px;
        border: 3px #4c4c4c solid;
        overflow: hidden;

        & .news-set {
            width: 100%;
            background-color: #ffffff92;
            bottom: 20px;
            z-index: 10;
            font-weight: 700;
            font-size: 20px;
        }
    }

    & img {
        width: 100%;
    }
}
.news-button{
    width: 20px;
    height: 20px;
    border: 2px black solid;
    border-radius: 50%;
    background-color: red;
    position: absolute;
}
.business{
    width: 60%;
    &>div{
        display: flex;
        margin: 10px;
        border-radius: 20px;
        border: 2px black solid;
        overflow: hidden;
    }
    & img{
        border-radius: 10px;
        width: 45%;
        margin: 10px;
    }
}
/* form */
form{
    border: #4c4c4c solid 5px;
    background-color: blanchedalmond;
    padding: 2em;
    display: grid;
    justify-items: center;
    border-radius: 20px;
    & input{
        margin: 5px;
        background-color: #ffffff00;
        border: 0px;
        border-bottom: #4c4c4c ridge;
        font-size: 30px;
    }
}
